@import '../../styles/utils.styl'

.list
  margin-top: pxToRem(-2)

.essay + .essay
  margin-top: pxToRem(40)
  +mobile()
    margin-top: pxToRem(50)

.essay
  transition: color 0.2s ease
  :global(.view-essay)
    transition: opacity 0.2s ease
    opacity: 0
    +mobile()
      opacity: 1

.essay:hover
  :global(.view-essay)
    opacity: 1

