@font-face
  font-family: 'MK-Amour Beaucoup'
  src: url('../assets/fonts/MK-Amour-Beaucoup.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'ChopinScript'
  src: url('../assets/fonts/ChopinScript.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Steinbeck'
  src: url('../assets/fonts/Steinbeck-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

