@font-face
  font-family: 'MK-Amour Beaucoup'
  src: url('../assets/fonts/MK-Amour-Beaucoup.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'ChopinScript'
  src: url('../assets/fonts/ChopinScript.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Steinbeck'
  src: url('../assets/fonts/Steinbeck-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'FKRasterGrotesk-Blended'
  src: url('../assets/fonts/FKRasterGrotesk-Blended.woff') format('woff'),
    url('../assets/fonts/FKRasterGrotesk-Blended.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'FKRasterGroteskCompact-Blended'
  src: url('../assets/fonts/FKRasterGroteskCompact-Blended.woff') format('woff'),
    url('../assets/fonts/FKRasterGroteskCompact-Blended.woff2') format('woff2')
  font-weight: normal
  font-style: normal
