@import './fonts.styl'
@import './utils.styl'

.xxl
  font-family: Steinbeck, Helvetica, sans-serif
  font-size: pxToRem(230)
  line-height: 0.8
  letter-spacing: -0.03em

.xxlAlt
  font-family: ChopinScript, Helvetica, sans-serif
  font-size: pxToRem(260)
  line-height: 0.8
  letter-spacing: -0.03em

.xm
  font-family: Steinbeck, Helvetica, sans-serif
  font-size: pxToRem(34)
  line-height: 1

.xs
  font-size: pxToRem(14)
  line-height: 0.82

.utility
  font-family: ChopinScript, Helvetica, sans-serif
  font-size: pxToRem(30)
  line-height: 0.82
