@import './fonts.styl'
@import './utils.styl'

.xxl
  font-family: FKRasterGroteskCompact-Blended, Helvetica, sans-serif
  font-size: pxToRem(259)
  line-height: 0.9
  letter-spacing: 0.02em

.xm
  font-family: FKRasterGrotesk-Blended, Helvetica, sans-serif
  font-size: pxToRem(24)
  line-height: 1.08

.xmAlt
  font-family: FKRasterGrotesk-Blended, Helvetica, sans-serif
  font-size: pxToRem(24)
  line-height: 1.2

.xs
  font-family: FKRasterGrotesk-Blended, Helvetica, sans-serif
  font-size: pxToRem(14)
  line-height: 0.82

.utility
  font-family: ChopinScript, Helvetica, sans-serif
  font-size: pxToRem(30)
  line-height: 0.9
