@import '../../styles/utils.styl'

.intro
  background-size: cover
  background-position: center
  ul li + li
    margin-top: pxToRem(5)

.w
  letter-spacing: 0.2em

.ng
  letter-spacing: -0.43em

.info
  width: pxToRem(30)
  height: pxToRem(30)
  padding-bottom: pxToRem(5)
  padding-left: pxToRem(2)
  transform: translateY(pxToRem(-3))

.description
  mix-blend-mode: exclusion

.canvas
  z-index: -1
