@font-face
  font-family: 'MK-Amour Beaucoup'
  src: url('../assets/fonts/MK-Amour-Beaucoup.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Monument Grotesk'
  src: url('../assets/fonts/MonumentGroteskTrial-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Monument Grotesk'
  src: url('../assets/fonts/MonumentGroteskTrial-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal

html,
body
  font: 14px/1.21 'Monument Grotesk', arial, sans-serif
  font-weight: normal

body
  padding: 150px 25px 25px

.center
  text-align: center

.amour
  font-family: 'MK-Amour Beaucoup'

.uppercase
  text-transform: uppercase

.xxl
  font-size: 90px
  font-weight: normal
  line-height: 84.4%
  text-transform: uppercase

.xl
  font-size: 64px
  font-weight: normal
  line-height:  84.4%
  text-transform: uppercase

.l
  font-size: 45px
  font-weight: normal
  line-height: 84.4%
  text-transform: uppercase

.m
  font-size: 32px
  font-weight: bold
  line-height: 84.4%

.essay
  display: block

.essay + .essay
  margin-top: 96px

.moss
  color: #255823

.witch
  color: #6C47A6

.blood
  color: #E92D18

.swamp
  color: #4BA689

header
  position: fixed
  top: 10px
  left: 0
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 25px

main
  max-width: 1187px
  margin: 0 auto

h2
  transition: color 0.2s ease

a
  cursor: pointer

a h2:after
  content: '↗'

footer
  margin-top: 200px

.footer-top
  display: flex
  justify-content: space-between
  margin-bottom: 173px

.credits > div + div
  margin-top: 38px

.credits a
  margin-top: 14px
  display: block
