@font-face
  font-family: 'MK-Amour Beaucoup'
  src: url('../assets/fonts/MK-Amour-Beaucoup.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Monument Grotesk'
  src: url('../assets/fonts/MonumentGrotesk-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Monument Grotesk'
  src: url('../assets/fonts/MonumentGrotesk-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal

$ROOT_FONT_SIZE = 32px
$CANONIC_SCREEN_WIDTH = 1440px
$CANONIC_SCREEN_WIDTH_M = 375px
$MOBILE_BP = 600px

mobile()
  @media (max-width: $MOBILE_BP)
    {block}

pxToRem(px)
  (px / $ROOT_FONT_SIZE) rem

html
  font-size: ($ROOT_FONT_SIZE / $CANONIC_SCREEN_WIDTH * 100) vw
  +mobile()
    font-size: ($ROOT_FONT_SIZE / $CANONIC_SCREEN_WIDTH_M * 100) vw

html,
body
  font-family: 'Monument Grotesk', arial, sans-serif
  font-weight: normal

body
  padding: pxToRem(150) pxToRem(25) pxToRem(25)
  +mobile()
    padding: pxToRem(75) pxToRem(14) pxToRem(25)

.center
  text-align: center

.amour
  font-family: 'MK-Amour Beaucoup'

.uppercase
  text-transform: uppercase

.xxl
  font-size: pxToRem(90)
  font-weight: normal
  line-height: 84.4%
  text-transform: uppercase
  +mobile()
    font-size: pxToRem(28)

.xl
  font-size: pxToRem(64)
  font-weight: normal
  line-height:  84.4%
  text-transform: uppercase

.l
  font-size: pxToRem(45)
  font-weight: normal
  line-height: 84.4%
  text-transform: uppercase
  +mobile()
    font-size: pxToRem(16)

.m
  font-size: pxToRem(32)
  font-weight: bold
  line-height: 84.4%
  +mobile()
    font-size: pxToRem(16)

.s
  font-size: pxToRem(24)
  font-weight: normal
  line-height: 84.4%
  +mobile()
    font-size: pxToRem(12)
    line-height: 1

.xs
  font-size: pxToRem(16)
  font-weight: normal
  line-height: 84.4%
  +mobile()
    font-size: pxToRem(12)
    line-height: 1

.essay
  display: block
  transition: opacity 0.35s ease

.essay + .essay
  margin-top: pxToRem(150)
  +mobile()
    margin-top: pxToRem(75)

.name
  position: fixed
  left: 50%
  transform: translate(-50%, 45vh) scale(3.75)
  animation: nameAppear 1s ease-in forwards 1s
  +mobile()
    transform: translate(-50%, 45vh) scale(2.33);
    animation: nameAppearM 1s ease-in forwards 1s

@keyframes nameAppear {
  from {
    transform: translate(-50%, 45vh) scale(3.75);
  }
  to {
    transform: translate(-50%, 0);
  }
}

@keyframes nameAppearM {
  from {
    transform: translate(-50%, 45vh) scale(2.33);
  }
  to {
    transform: translate(-50%, 0);
  }
}

.moss
  color: #255823

.witch
  color: #6C47A6

.blood
  color: #E92D18

.swamp
  color: #4BA689

header
  position: fixed
  top: pxToRem(10)
  left: 0
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 pxToRem(25)

main
  max-width: pxToRem(1187)
  margin: 0 auto
  position: relative

h2
  transition: color 0.2s ease

a
  cursor: pointer

a h2:after
  content: ' ↗'
  font-feature-settings: "case"

footer
  margin-top: pxToRem(200)
  display: flex
  justify-content: space-between
  a
    text-decoration: underline !important
  +mobile()
    flex-direction: column
    & > * + *
      margin-top: pxToRem(10)

.excerpts
  position: fixed
  left: 0
  bottom: pxToRem(150)
  width: 100vw
  pointer-events: none
  text-align: center
  padding: 0 pxToRem(100)
  +mobile()
    bottom: pxToRem(0)
    left: pxToRem(20)
    padding: 0
    width: 90vh
    transform: rotate(-90deg)
    transform-origin: left top
