@import './styles/fonts.styl'
@import './styles/consts.styl'
@import './styles/utils.styl'
@import './styles/text-styles.styl'

html
  font-size: ($ROOT_FONT_SIZE / $CANONIC_SCREEN_WIDTH * 100) vw
  +mobile()
    font-size: ($ROOT_FONT_SIZE / $CANONIC_SCREEN_WIDTH_M * 100) vw

html,
body
  font-family: 'Steinbeck', Helvetica, arial, sans-serif
  font-weight: normal

/*
  content: ' ↗'
  font-feature-settings: "case"
*/
