<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Automatic writing</title>
    <link rel="shortcut icon" href="https://automatic-writing.wtf/assets/favicon.png" />
    <meta property="og:title" content="Automatic writing" />
    <meta
      property="og:description"
      content="A semester-long exploration of the realtionship between language, media and design."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://automatic-writing.wtf" />
    <meta property="og:image" content="https://automatic-writing.wtf/assets/meta.jpg" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>
